.c1{
    h1{
        color: aqua;
        background-color: black;
        text-shadow: 2px 2px solid gold;
    }
    p{
        color: brown;
    }
}
.c2{
    h4{
        color: darkgreen;
        background-color: bisque;
        text-align: center;
    }
}